<%= simple_form_for [@destination, @destination.seats.build] do |f| %>
  <div class="inputs">
    <%= f.input :nazwisko %>
	<%= f.input :imie %>
	<%= f.input :telefon %>
  </div>
  <div class="actions">
    <%= f.button :submit %>

  </div>
<% end %>