<article>
    <td><%= destination.wyjazd_z %></td>
    <td><%= destination.przyjazd_do %></td>
    <td><%= destination.termin %></td>
    <%= link_to 'Pokaż', destination %>
    <%= link_to 'Edytuj', edit_destination_path(destination) %>
    <%= link_to 'Usuń', destination, :confirm => 'Jesteś pewny?', :method => :delete %>
</article>