<%= simple_form_for(@destination) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :wyjazd_z %>
    <%= f.input :przyjazd_do, :input_html => {:rows => 1, :cols => 45} %>
    <%= f.input :termin %>
  </div>

  <div class="actions">
    <%= submit_tag("Zapisz") %>
  </div>
<% end %>
