
<p>
  <b>Wyjazd z:</b>
  <%= @destination.wyjazd_z %>
</p>

<p>
  <b>Przyjazd do:</b>
  <%= @destination.przyjazd_do %>
</p>

<p>
  <b>Termin:</b>
  <%= @destination.termin %>
</p>


<%= link_to 'Edytuj', edit_destination_path(@destination) %> |
<%= link_to 'Powrót', destinations_path %>

<% if @destination.seats.any? %>
  <h3>Rezerwacja</h3>
   <%= render :partial => 'seats/seat', :collection => @destination.seats %>
<% end %>

<h3>Dodaj nową rezerwację</h3>
<%= render :partial => 'seats/form' %>
